<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferta-Educativa</title>
    <link rel="stylesheet" href="../styles/styles.css">
    
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="#">Conócenos</a></li>
            <li><a href="#">Oferta educativa</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </nav>
       
    </header>


    <main class="oferta">
        
        <div class="oferta-intro">
            <div class="oferta-intro-texto">
                <h1>Oferta-Educativa</h1>
                 <p>En el Tecnológico Nacional de México Zacatecas Norte nuestro objetivo reside en diversificar la oferta educativa en el área de influencia, permitiendo satisfacer las expectativas de los estudiantes que aspiran a un desarrollo profesional exitoso en concordancia con las necesidades de desarrollo social y económico de la Región y del País.</p>
            </div>
            <img src="../src/images/OfEduBacka_animed.png" alt="imagen">
        </div>
        <section class="carreras">
            <h2>Carreras</h2>
            <div class="carreras-imagenes">
                <div class="imagen">
                    <img src="../src/images/txtCP.png" class ="reduce" alt="imagen">
                </div>
                <div class="imagen">
                    <img src="../src/images/txtIA.png" alt="imagen">
                </div>
                <div class="imagen">
                    <img src="../src/images/txtIEM.png" alt="imagen">
                </div>
                <div class="imagen">
                    <img src="../src/images/txtIGE.png" class="reduce" alt="imagen">
                </div>
                <div class="imagen">
                    <img src="../src/images/txtIIA.png" alt="imagen">
                </div>
                <div class="imagen">
                    <img src="../src/images/txtISC.png" alt="imagen">
                </div>

            </div>

        </section>

        <section class="modalidades">
            <h2>Modalidades</h2>

            <div class="modalidades-box">
                <div class="modalidad">
                    <h3>semi-escolarizado</h3>
                </div>
                <div class="modalidad">
                    <h3>escolarizado</h3>
                </div>
                <div class="modalidad">
                    <h3>educación a distancia</h3>
                </div>
                
            </div>


        </section>

    </main>

    

</body>
</html>