<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios - ITSZN</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
     <nav>
        <ul>
            <li><a href="index..html">Inicio</a></li>
            <li><a href="conocenos.html">Conócenos</a></li>
            <li><a href="oferta-educativa.html">Oferta educativa</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="faq.html">FAQ</a></li>
        </ul>
    </nav>
    <main class="servicios-container">
        <h1>Nuestros Servicios</h1>
        <ul class="servicios-lista">
            <li>
                <img src="../src/images/sce.png" alt="SCE" class="servicio-img">
                <a href="http://www.itszn.edu.mx/sce" target="_blank">sce</a>
            </li>
            <li>
                <img src="../src/images/moodle.jpg" alt="Moodle" class="servicio-img">
                <a href="https://itszn.edu.mx/moodle/" target="_blank">moodle</a>
            </li>
            <li>
                <img src="../src/images/bolsa_de_trabajo.png" alt="Bolsa de trabajo" class="servicio-img">
                <a href="https://www.itszn.edu.mx/coyote/?pag=bolsa_t" target="_blank">bolsa de trabajo</a>
            </li>
        </ul>
    </main>
</body>
</html>



